langchain~=0.3.17
langserve[all]
unstructured[pdf]
langsmith
langgraph
langchain-openai
langchain-experimental
langchain-community
langchain-google-community
langchain-pinecone
pinecone
debugpy
torch
transformers
sentence-transformers
python-dotenv
notebook
youtube-transcript-api
tiktoken
google-api-python-client~=2.156.0
pyarrow
google-api-python-client-stubs
pydantic
pydantic-settings
pydantic_core
pandas
inflection~=0.5.1
praw~=7.8.1
toolz
lxml
bs4~=0.0.2
pinecone-notebooks
pypdf
openai~=1.58.1
google-api-python-client
text-dedup
datasketch
spacy
pytest
snakeviz
ipython
numpy
nltk~=3.9.1
scikit-learn
RapidFuzz~=3.11.0
matplotlib~=3.10.0
beautifulsoup4~=4.12.3
typing_extensions~=4.12.2
# ragas~=0.2.12
-e /Users/aubrey/workspace/langchain-pepwave_and_ragas/ragas
black~=25.1.0
pymongo~=4.11.1
textstat~=0.7.5
instructor~=1.7.2
matplotlib~=3.10.1
flashtext~=2.7
pyvis~=0.3.2
