langchain
langserve[all]
unstructured[pdf]
langsmith
langchain-openai
langchain-experimental
langchain-community
torch
transformers
sentence-transformers
python-dotenv
notebook
youtube-transcript-api
tiktoken
google-api-python-client
pyarrow
google-api-python-client-stubs
pydantic
pydantic-settings
pydantic_core
pandas
inflection
praw
toolz
lxml
bs4
langchain-pinecone
pinecone-notebooks
pypdf
openai
langchain-google-community==2.0.3
google-api-python-client==2.156.0
text-dedup==0.4.0
datasketch==1.6.5
spacy==3.8.3
