langchain
langserve[all]
langsmith
langchain-openai
langchain-experimental
langchain-community
torch
transformers
sentence-transformers
pinecone-client
python-dotenv
tiktoken
notebook
youtube-transcript-api
google-api-python-client==2.154.0
pydantic
pandas
pyarrow==18.1.0
