langchain~=0.3.23
langsmith
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain-openai
langchain-pinecone
langchain-cohere~=0.4.4
pinecone
python-dotenv
tiktoken
pyarrow
pydantic
pydantic-settings
pydantic_core
pandas
toolz
openai
numpy
typing_extensions~=4.12.2
fastapi
uvicorn[standard]
jinja2
python-multipart

git+https://github.com/aubford/ragas.git