langchain==0.3.26
langsmith==0.4.4
langgraph==0.5.3
langgraph-checkpoint-postgres==2.0.21
psycopg[binary,pool]==3.2.9
langchain-openai==0.3.28
langchain-pinecone==0.2.8
langchain-cohere==0.4.4
cohere==5.15.0
langchain-tavily==0.2.16
langchain-community==0.3.27
wikipedia==1.4.0
pinecone==7.3.0
python-dotenv==1.1.1
tiktoken==0.9.0
pyarrow==20.0.0
pydantic==2.11.7
pydantic-settings==2.10.1
pandas==2.3.0
toolz==1.0.0
openai==1.93.0
numpy==2.3.1
typing_extensions==4.12.2
fastapi==0.115.14
uvicorn[standard]==0.35.0
jinja2==3.1.6
python-multipart==0.0.20

git+https://github.com/aubford/ragas.git@2e3d51de301266784ff42dad78b70af73387c582